body{
    background-color: rgb(0, 150, 136);
    user-select: none;
}

main .my-container{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 80vw;
}

.contacts-list{
    border-right: 1px solid lightgrey;
    
}

.notifies-wrapper i,
.profile-img,
.contact-img{
    border-radius: 50%;
}

.profile-img{
    height: 50px;
    width: 50px;
}

.my-header{
    background-color: rgb(234, 234, 234);
}

.my-header div i{
    color: rgb(177, 177, 177);
    font-size: 1.3rem;
    margin-right: 16px;
}

.notifies-wrapper{
    background-color: rgb(142, 218, 252);
}

.notifies-wrapper i{
    font-size: 1.5rem;
    padding: 15px 13px 15px 13px;
    background-color: white;
    color: rgb(142, 218, 252);
}

.my-header p,
.contact-datas p,
.notifies-wrapper p {
    margin: 0;
}

.search-bar {
    padding: 10px;
    background-color: rgb(250, 250, 250);
}

.contacts-wrapper{
    overflow-y: scroll;
    height: calc(90vh - 204px);;
}

.my-contact{
    border-bottom : 1px solid rgb(233, 235, 235);
}
.contact-img{
    height: 60px;
    width: 60px;
}

.my-header,
.notifies-wrapper,
.my-contact{
    padding: 10px 0;
    cursor: pointer;
}

.contact-img,
.profile-img,
.notifies-wrapper i{
    margin: 0 20px;
}

.chat{
    background-image: url('../img/mine.jpg');
    height: calc(90vh - 128px);
    width: 100%;
    overflow-y: scroll;
}

.message-input {
    padding:10px 0 ;
    background-color: rgb(243, 238, 234);
}

.message-input i{
    margin: 0 25px;
    color: grey;
}

.message-sent,
.message-received{
    border-radius: 10px;
    max-width: 60%;
    padding: 11px 100px 13px 15px;
    position: relative;
}

.message-sent{
    align-self: end;
    margin-right : 70px;
    background-color: rgb(213, 249, 186);
}

.message-received{
    align-self: start;
    margin-left: 70px;
    background-color: white;
}

.message-time{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgb(177, 171, 171);
    font-size: 0.7rem;
}

#default-background{
    background-image: url(../img/whatsapp-default.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.my-bg-color{
    background-color: rgb(248, 248, 248);
}

.my-input-text{
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 5px;
}