body{
    background-color: rgb(0, 150, 136);
    user-select: none;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    min-width: 1250px;
}

main .my-container{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 80vw;
    min-width: 1000px;
}

/* left side */
.contacts-list{
    border-right: 1px solid lightgrey;
    min-width: 325px;
}

.notifies-wrapper i,
.profile-img,
.contact-img{
    border-radius: 50%;
}

.profile-img{
    height: 50px;
    width: 50px;
}

.my-header div i{
    color: rgb(177, 177, 177);
    font-size: 1.3rem;
    margin-right: 16px;
}

/* notify */
.notifies-wrapper{
    background-color: rgb(142, 218, 252);
    font-size: .8rem;
    overflow: hidden;
}

.notifies-wrapper i{
    font-size: 1.5rem;
    padding: 15px 13px 15px 13px;
    background-color: white;
    color: rgb(142, 218, 252);
}


/* search */
.search-bar {
    padding: 10px;
}

.search-bar div{
    border-radius: 5px;
}

/* contacts */
.contacts-wrapper{
    overflow-y: scroll;
    height: calc(90vh - 204px);;
}

.my-contact{
    border-bottom : 1px solid rgb(233, 235, 235);
}
.contact-img{
    height: 60px;
    width: 60px;
}

/* commons */
#chat p,
.my-header p,
.notifies-wrapper p,
.my-contact p {
    margin-bottom: 0;
}

.my-header,
.notifies-wrapper,
.my-contact{
    padding: 10px 0;
    cursor: pointer;
}

.contact-img,
.profile-img,
.notifies-wrapper i{
    margin: 0 20px;
}

.last-log,
.contact-time,
.contact-message{
    font-size: .8rem;
    color: rgb(143, 145, 146);
    margin-bottom: 10px;
}

/* right side */
.chat{
    background-image: url('../img/mine.jpg');
    height: calc(90vh - 128px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.my-chat-section{
    min-width: 665px;
}
/* messages */
.message-input {
    padding:10px 0 ;
    background-color: rgb(243, 238, 234);
}

.message-input i{
    margin: 0 25px;
    color: grey;
}

.message{
    border-radius: 10px;
    max-width: 60%;
    padding: 11px 100px 13px 15px;
    position: relative;
    margin-bottom: 7px;
}

.message-sent{
    align-self: end;
    margin-right : 70px;
    background-color: rgb(213, 249, 186);
}

.message-received{
    align-self: start;
    margin-left: 70px;
    background-color: white;
}

.message-time{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgb(177, 171, 171);
    font-size: 0.7rem;
}

.chat div div i{
    right: 10px;
    top: 7px;
    display: none;
    color: grey;
}


#chat .message:hover i{
    display: inline-block;
}


#chat .message i:hover{
    cursor: pointer;
}

.message-details{
    width: 170px;
    top: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
    display: none;
}

.message-details p{
    padding : 10px 15px;
    text-align: center;
}

.message-details p:hover{
    background-color: lightgrey;
    cursor: pointer;
}

#default-background{
    background-color: rgb(248, 248, 248);
}

#default-background div.img-wrapper{
    height: 300px;
    width: 300px;
}

#default-background div.text-wrapper{
    width: 60%;
}

.my-bg-color{
    background-color: rgb(240, 242, 245);
}

.my-input-text{
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 5px;
}